/* CIT 230 - Assignment Portal CSS Template */

{ margin 20px: 0; box-sizing: border-box; } 

 { margin: 0; box-sizing: 100px border-box 1px; } 


body { 
    font-size: 12px; 
    line-height: 32px;
    font-family: Times New Roman;

    color:blue ;
}

h1 {
    font-size: 16px;

    color: blue;
}

h1 {
    font-size: 20px;

    color: blue;
}

h2 {
<<<<<<< HEAD
    font-size: 12px;
    font-size: 16px;

    color: blue ;
}

h1 {
    font-size: 20px;
    color: white;
}

h2 {
    font-size: 12px;

    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {

    margin: 1.25rem auto;
    padding: .5rem;

    margin: 1.25px auto;
    padding: .5px;

    max-width: 400px;
}
header, footer, footer a {

    background-color: /* */;

    background-color: gray;

    color: whitesmoke;
}

header img {
<<<<<<< HEAD
    width: 80px;
=======
    width: 100px;
>>>>>>> 82d6a781ab93a2ce0cee14010e802ac885366be0
    height: auto;
    float: right;
}

footer {
<<<<<<< HEAD
    font: size 8;
}
=======
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
=======
    font-size: 8px;
>>>>>>> 82d6a781ab93a2ce0cee14010e802ac885366be0
}
>>>>>>> fad4396dbfb3389e21b0b5670b4a101461bf8990
