
body {
    font-family:'Arvo';
    font-size: 18px;
}

header {
    display: flex-inline;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(175, 167, 167);
    padding:2rem;
}

header > img {
    width: 10%;
    height: 8%;
   
}

h1 {
    font-size: 3rem;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(65, 62, 122);
    
}

.subheading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: white; 
}

.currentcondition {
    display: inline-block;
    margin: 2rem 0 2rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: black;
    background-color: rgb(195, 245, 236);
    border: 1pt solid rgb(110, 109, 109);
    font-size: 1.1rem;
}

nav button {
    margin: .2rem 2%;
    background-color: trasparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: #dddd;
    font-family: 'Arvo';
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}  

nav ul li a{
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0 0 0 .3);
}

nav ul.hide {display: none;}
    

h2 {
    text-align: center;
}

.topbox{
    display: flex;
    flex-flow: row wrap;
    margin-left: 100px;
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
    padding: 2rem; 
}

.weathersummary {
    
    width: 6rem;
    padding: 1.2rem;
    color: black;
    background-color: rgb(195, 245, 236);
    border: 1pt solid rgb(110, 109, 109);
    font-size: 1rem;
    line-height: 1;

}

.forecast {
    display:inline-block;
    background-color: bisque;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.table {
}
.middle {

    background-color: rgb(203, 206, 205);
    padding-left: 10px;
    padding-bottom: 10px;
}
.windyparagraph {
    font-size: 1.5rem;
    line-height: 1.9;
    padding-top: 10px;
}
h5{
    font-size: 3rem;
}

 .middle .preston-img {
    width: 40%;
    height: auto;
    padding: 1rem;
    float: right;
}

.contact{
    background-color: rgb(241, 236, 203);
    margin: 10px;
    font-size: 1.5rem;
}

.preston-map{
    float: left
    
}

.clearfix{
    overflow:auto;
}

h6{
    font-size: 3rem;
}

.footer {
    background-color: rgb(87, 153, 141);
    text-align: center;
    font-size: 1.5rem;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* photo gallery */

.weatherimages {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around; 
}

figure:hover {
    box-shadow: 5px 5px 5px #777;
}

.desc {
    padding: 25px;
    text align: center;
}

figure {
    border: 2px solid #ccc;
    margin: 20px;
}

/* storm center */

form fieldset {
    margin: 3rem 0;
    border: 2px solid #5555;
    border-radius: 10px;
    padding: 1rem;

}

    
