html {
  font-family: Ubuntu, sans-serif;
}

table {
  
  border: 2px solid rgb(128, 125, 125);
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-family: Ubuntu, sans-serif;
}

td, th {
  border: 1px rgb(153, 151, 151);
  padding: 10px 20px;
}

th {
  background-color:#628ca6;
  font-size: 1rem;
  color:white;
}
.head {
    background-color:#7fb9c2;
    color:black;
    font-size: 2rem;
}

td {
  text-align: center;
  border: gray;
}

tr:nth-child(even) td {
  background-color: #e7f0ed;
}

tr:nth-child(odd) td {
  background-color:#e7ffed;
}

.footer {
    background-color: #7fb9c2;
}

caption {
  padding: 10px;
}
