html {
  font-family: Ubuntu, sans-serif;
}

table {
  border-collapse: none;
  border: 1px solid rgb(128, 125, 125);
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-family: Ubuntu, sans-serif;
}

td, th {
  padding: 10px 20px;
}

thead th {
    background-color:#7fb9c2;
    color:black;
    font-size: 2rem;
}

th {
    background-color:#628ca6;
    font-size: 1rem;
    color:white;
  }

td {
  text-align: center;
  border: gray;
}

tr:nth-child(even) td {
  background-color: #e7f0ed;
}

tr:nth-child(odd) td {
  background-color:#e7ffed;
}

#highlight{
    background-color:#628ca6;
    color: white;
}

tfoot tr td {
    background-color: #7fb9c2;
}

caption {
  padding: 10px;
}
