@media screen and (min-width: 601px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    h1 {
        font-family: 'Parisienne', cursive;
        font-size: 4.5vw;
        margin-left: 30px;

    }
    
    .subheader {
        font-family: 'Zilla Slab', serif;
        margin-top: -70px;
        font-size: 2.6vw;
        text-align: left;
        margin-left:50px;
        letter-spacing: 5px;
    }
    
    .templeSilhouette {
        width: 200px;
        height: 250px;
    }    

}

/*----------------reception page-------------------*/


.packages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

.suite-pics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

/*---------------homepage-----------------------*/

.middle {
    display: flex;
    flex-direction: row;

}

.exterior-image {
    margin: 15px;
    width: 500px;
    height: 100%;
}

.templePara {
    font-size: 1.5em;

}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #AB5051;
}

iframe{
    margin: 20px;
}

.address{
    color: white;
    text-align: left
}