

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-align: center;
    display: inline-block;

  }
  
  li a {
    display: inline-block;
    color: #333;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .weathersummary {

    position: absolute;
	top: 10px;
	left: 20px;
	background-color: wheat;
	border: 1px solid #000;
    padding: 1rem;
    font-size: 1rem;
} 


.forecast {
    display: inline-block;
    margin: 2rem 0 2rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: black;
    background-color: rgb(195, 245, 236);
    border: 1pt solid rgb(110, 109, 109);
    font-size: 1.1rem;
}