
body {
    font-family:'Arvo';
    font-size: 18px;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color:rgb(175, 167, 167);
    padding: 1rem;
}

header > img {
    width: 80px;
    height: 80px;
    margin-bottom: -20px;

   
}

header h1 {
    font-size: 3.5em;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(65, 62, 122);
    letter-spacing: 3px;
    
}

.subheader {
    font-family: 'Arvo';
    font-size: 1.5em;
    color: white; 
    text-align: center;
    margin-top: -40px;
    letter-spacing: 3px;
}

nav {	
        margin-top: -30px ;
        max-width: auto;
        background-color: rgb(122, 204, 200);
        font-size: 1.5rem;
    }

.navigation { list-style: none; text-align: center; }
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a {	display: block;	color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
  .navigation a:hover {	color: rgb(65, 62, 122); background-color: #fff; font-weight: 700;	}

  .responsive li { display: block; }


@media only screen and (min-width: 600px) {
  .navigation li:first-child { display: none;	}
	.navigation li { display: inline-block; margin-right: 1rem;}	
	.navigation li a { color: white;}
}
    

h2 {
    text-align: center;
    color: rgb(65, 62, 122);
    font-size: 2rem;
}

.topbox {
        
    position: relative;

  }

  .skyimage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: auto; 
}

.weathersummary {

    position: absolute;
	top: 1rem;
    left: 15rem;
    width: 11%;
    height: 27rem;
	background-color:rgb(175, 167, 167);
	border: 5px solid white;
    padding: .4rem;
    font-size: .4rem;
    color:  rgb(65, 62, 122);
} 

.forecast {
    display: none;
}
.middle {

    background-color: rgb(203, 206, 205);
    padding: 30px ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: flow-root;
}

.windyparagraph {
    font-size: 1.5rem;
    line-height: 1.9;
}

h5{
    font-size: 3rem;
    margin-bottom: -3px; 
    margin-top: 0px;
    color: rgb(65, 62, 122);
}

 .middle .preston-img {
    width: 40%;
    height: auto;
    padding: 1rem;
    float: right;
}


.contact{
    background-color: rgb(122, 204, 200);
    margin: 10px;
    width: 80%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.preston-map{
    padding-right: 3rem;
    float: left;
    
}

h6{
    font-size: 3rem;
    margin: 20px;
    padding: 20px;
}

.footer {
    background-color: rgb(203, 206, 205);
    text-align: center;
    font-size: 1.5rem;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* photo gallery */

.weatherimages {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around; 
}

figure:hover {
    box-shadow: 5px 5px 5px #777;
}

.desc {
    padding: 25px;
    text-align: center;
}

figure {
    border: 2px solid #ccc;
    margin: 20px;
}

/*------- storm center -------- */

.stormheader {
    font-size: 2rem;
    text-align: center;
    color:  rgb(65, 62, 122);
    margin-top: 2rem;
}

 form label.top {
    display: block;
    color: rgb(65, 62, 122);
    margin: .5rem 1rem;
    width: 100%;
}

form label.top input {
    display: block;
    font-size: 1rem;
    padding: .75rem;
    width: 100%;
    max-width: 80%;
}

.stormform {
    margin: 2rem 8rem;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 50px;
  }

  form label.bottom {
      display: block;
      margin-top: 2rem;
      color: rgb(65, 62, 122);
  }

  form input.submitBtn {
      width: 80%;
      background-color: rgb(65, 62, 122);
      color: white;
      border: none;
      margin: 1rem;
      padding: .75rem 1.5rem;
      font-family: 'Arvo';
      font-size: 1rem;
  }

  /*---------------homepage-------------

  /*header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
 

  section {
      display: flex;
      padding: 30px 50px;
  }
  
  section article {
    width: 33%;
   display: flex;
   flex-direction: column;
   margin: 10px;
   padding: 10px 10px 50px;
   color:  rgb(65, 62, 122);
   background-color: white;
    border-style: solid;
    border-width: 20px 2px;
    border-color:  rgb(175, 167, 167);
    align-items: center;
  }
  
  section p {
    margin: 5px 0;
    color:  rgb(71, 71, 71);

  }

section img {
    width: 100%;
    margin-top: 40px;
}
  
  section ul {
    margin-top: 0;
    color: black;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Fjalla One', sans-serif;
    
  }*/

  section article {
   width: 80%;
   display: flex;
   flex-direction: column;
   margin: 10px;
   padding: 10px 10px 50px;
   color:  rgb(65, 62, 122);
   background-color: white;
    border-style: solid;
    border-width: 20px 2px;
    border-color:  rgb(175, 167, 167);
    align-items: center;
  }
  


 
    
