
body {
    font-family:'Arvo';
    font-size: 18px;
}

header {
    background-color:rgb(241, 236, 203);
    text-align: center;
    padding:.5rem;
    color: black;
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
    margin: 2rem 3rem 2rem 5rem;  
}

.headertext {
    vertical-align: middle;
    display: inline-block;
}

.headertext h1 {
    font-size: 4rem;
    font-family:'nunito';
    color: rgb(64, 83, 64);
}

.subheading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: rgb(12, 12, 12);
     
}

.currentcondition {
    display: inline-block;
    margin: 2rem 0 2rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: black;
    background-color: rgb(195, 245, 236);
    border: 1pt solid rgb(110, 109, 109);
    font-size: 1.1rem;
}

nav button {
    margin: .2rem 2%;
    background-color: trasparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    background-color: #dddd;
    font-family: 'Arvo';
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}  

nav ul li a{
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0 0 0 .3);
}

nav ul.hide {display: none;}
    

h2 {
    text-align: center;
}

.topbox {
        
        margin-left: auto;
        margin-right: auto;
        position: relative;
    
      }

.skyimage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto; 
}

.weathersummary {

    position: absolute;
	top: 2rem;
    left: 2rem;
    width: 20%;
    height: auto;
	background-color: wheat;
	border: 1px solid #000;
    padding: .5rem;
    font-size: .5rem;
} 

.forecast {
    display: none;
}


.middle {

    background-color: rgb(203, 206, 205);
    padding-left: 10px;
    padding-bottom: 10px;
}
.windyparagraph {
    font-size: 1.5rem;
    line-height: 1.9;
    padding-top: 10px;
}
h5{
    font-size: 3rem;
}

 .middle .preston-img {
    width: 40%;
    height: auto;
    padding: 1rem;
    float: right;
}

.footer {
    background-color: rgb(87, 153, 141);
    text-align: center;
    font-size: 1.5rem;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
